::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
@media only screen and (max-width: 576px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
}
.header {
  background-color: brown;
  max-width: 100%;
  height: 60px;
}
.logo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
}
a.navbar-brand {
  font-family: viga;
  font-size: 40px;
  color: white !important;
}
.navbar-toggler {
  margin-top: 10px;
  border: none !important;
}
button.navbar-toggler:focus {
  box-shadow: none !important;
}
li {
  list-style: none;
}
li[class="nav-item"] {
  font-size: 20px;
  color: brown;
  transition: 0.8s;
}
li[class="nav-item"]:hover {
  font-size: 20px;
  color: brown !important;
}

.container-fluid {
  margin-top: -15px;
  max-width: 100%;
}
input {
  border-radius: 50px !important;
  outline: none;
  transition: 0.8s;
}

ul li a.nav-link:hover {
  color: red !important;
  border-bottom: 2px solid black;
}

i.bi-person-circle {
  width: 45px;
  height: 45px;
  font-size: 40px;
}

.cont {
  justify-content: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 100%;
}

.cont h2 {
  color: white;
  text-align: center;
}
img.car {
  background-size: cover;
  max-width: 100%;
}
.carousel-inner {
  background-size: cover;
  max-width: 100%;
}

img.poster {
  background-size: cover;
  height: 450px !important;
}
.container {
  max-width: 100%;
}
.card {
  height: 560px !important;
}
iframe {
  height: 250px;
  width: 80%;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.describe {
  color: white;
}

footer {
  max-width: 100%;
  background-color: brown;
}

.quotes {
  font-size: 20px;
}
.rating {
  color: black;
  font-size: 16px;
}
p .bi-star-fill {
  color: yellow;
  font-size: 16px;
}

.bi-instagram,
.bi-twitter,
.bi-github,
.bi-linkedin {
  color: white;
  font-size: 30px;
  transition: 0.5s;
}
.bi-instagram:hover {
  color: rgb(138, 58, 185);
}
.bi-twitter:hover {
  color: cornflowerblue;
}
.bi-linkedin:hover {
  color: cornflowerblue;
}
.bi-github:hover {
  color: green;
}

.bi-heart-fill {
  color: white;
}
